data-science-math/rsconnect/
.Rproj.user
.RData
.Rhistory
CUNY-SPS.Rproj
.ipynb_checkpoints
DATA607/hidden/
*rsconnect*
*easy_ham_2*
*spam_2*
DATA607/Monroe Real Property Data.db
DATA606/Monroe Real Property Data.db
DATA605/*.html
DATA605/*_cache
DATA605/*_files
DATA621/*_cache
DATA621/*_files
DATA621/*.html
DATA608/module 2/nyc_pluto_18v2_1_csv/pluto_18v2_1.csv
DATA608/module 2/nyc_pluto_18v2_1_csv/PLUTODD18v2.1.pdf
DATA608/module 2/nyc_pluto_18v2_1_csv/PlutoReadme18v2.1.pdf
*pycache*
DATA624/*.html
DATA612/*.html
*.ipynb_checkpoints
DATA612/jester*
CUNY-SPS.code-workspace
DATA612/project_2_user_cosine_similarity.csv
DATA698/iNaturalist/images/Boston Ivy/*jpg
DATA698/iNaturalist/images/Boston Ivy/*jpeg
DATA698/iNaturalist/images/Boston Ivy/*png
DATA698/iNaturalist/images/Box Elder/*jpg
DATA698/iNaturalist/images/Box Elder/*jpeg
DATA698/iNaturalist/images/Box Elder/*png
DATA698/iNaturalist/images/Bramble/*jpg
DATA698/iNaturalist/images/Bramble/*jpeg
DATA698/iNaturalist/images/Bramble/*png
DATA698/iNaturalist/images/Goutweed/*jpg
DATA698/iNaturalist/images/Goutweed/*jpeg
DATA698/iNaturalist/images/Goutweed/*png
DATA698/iNaturalist/images/Hog Peanut/*jpg
DATA698/iNaturalist/images/Hog Peanut/*jpeg
DATA698/iNaturalist/images/Hog Peanut/*png
DATA698/iNaturalist/images/Honewort/*jpg
DATA698/iNaturalist/images/Honewort/*jpeg
DATA698/iNaturalist/images/Honewort/*png
DATA698/iNaturalist/images/Hoptree/*jpg
DATA698/iNaturalist/images/Hoptree/*jpeg
DATA698/iNaturalist/images/Hoptree/*png
DATA698/iNaturalist/images/Jack in the Pulpit/*jpg
DATA698/iNaturalist/images/Jack in the Pulpit/*jpeg
DATA698/iNaturalist/images/Jack in the Pulpit/*png
DATA698/iNaturalist/images/Kudzu/*jpg
DATA698/iNaturalist/images/Kudzu/*jpeg
DATA698/iNaturalist/images/Kudzu/*png
DATA698/iNaturalist/images/Poison Ivy/*jpg
DATA698/iNaturalist/images/Poison Ivy/*jpeg
DATA698/iNaturalist/images/Poison Ivy/*png
DATA698/iNaturalist/images/Poison Ivy/*gif
DATA698/iNaturalist/images/Strawberry/*jpg
DATA698/iNaturalist/images/Strawberry/*jpeg
DATA698/iNaturalist/images/Strawberry/*png
DATA698/iNaturalist/images/Sumac/*jpg
DATA698/iNaturalist/images/Sumac/*jpeg
DATA698/iNaturalist/images/Sumac/*png
DATA698/iNaturalist/images/Virginia Creeper/*jpg
DATA698/iNaturalist/images/Virginia Creeper/*jpeg
DATA698/iNaturalist/images/Virginia Creeper/*png
DATA698/dataset/*
DATA698/weights/*.weights
DATA698/Articles/*
DATA698/results/YOLOv3 Field Tests Results.ipynb
DATA698/results/YOLOv5 Field Tests Results.ipynb
