data-science-math/rsconnect/
.Rproj.user
.RData
.Rhistory
CUNY-SPS.Rproj
.ipynb_checkpoints
DATA607/hidden/
*rsconnect*
*easy_ham_2*
*spam_2*
DATA607/Monroe Real Property Data.db
DATA606/Monroe Real Property Data.db
DATA605/*.html
DATA605/*_cache
DATA605/*_files
DATA621/*_cache
DATA621/*_files
DATA621/*.html
DATA608/module 2/nyc_pluto_18v2_1_csv/pluto_18v2_1.csv
DATA608/module 2/nyc_pluto_18v2_1_csv/PLUTODD18v2.1.pdf
DATA608/module 2/nyc_pluto_18v2_1_csv/PlutoReadme18v2.1.pdf
